In [6]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [7]:
df = pd.read_csv("data.csv", on_bad_lines='skip')
df.head()

      password  strength
0     kzde5577         1
1     kino3434         1
2    visi7k1yr         1
3     megzy123         1
4  lamborghin1         1

In [16]:
df = df.dropna()
df["strength_level"] = df["strength"].map({0: "Weak", 1: "Medium", 2: "Strong"})
df.sample(5)

            password  strength strength_level
564610   19952801ser         1         Medium
6229    cancers1963z         1         Medium
393195    yati271292         1         Medium
650371        tarki3         0           Weak
108694       juarax8         0           Weak

In [11]:
def word(password):
    character=[]
    for i in password:
        character.append(i)
    return character
  
x = np.array(df["password"])
y = np.array(df["strength_level"])

tdif = TfidfVectorizer(tokenizer=word)
x = tdif.fit_transform(x)
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.05, random_state=42)

c:\Users\adnan\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\feature_extraction\text.py:528: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [12]:
model = RandomForestClassifier()
model.fit(xtrain, ytrain)
print(model.score(xtest, ytest))

0.9574696852039902

In [14]:
import getpass
user = getpass.getpass("Enter Password: ")
data = tdif.transform([user]).toarray()
output = model.predict(data)
print(output)

['Strong']

In [19]:
data.size

153